<div>
    <div class="container" style="background-color: #fff; border: 1px solid #d0d0d0; border-top: 0px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px;">
        <div class="row">
            <div class="col-xs-12">
                <h1>{{ name }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <h2>Event information</h2>
                <p>{{ description }}</p>
            </div>
            <div class="col-xs-8">
                <h2>Choose the type of tickets</h2>
                <div class="center-block">
                    {{#each tickets_type}}
                        <div class="tickets byoc-tickets col-xs-6">
                            {{ type }}
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button class="next-step-btn btn btn-default">Next</button>
            </div>
        </div>
    </div>
</div>
    