@mixin logo-lanets {
    background-image: url('../images/logo_3d_noir.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    text-indent: -999999px;
}
