@mixin icon-lanets {
    background-image: url('../images/icon_lanets.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    text-indent: -999999px;
    width: 31px;
}

@mixin logo-lanets {
    background-image: url('../images/logo_3d_noir.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    text-indent: -999999px;
}

@mixin bg-byoc {
    background-image: url('../images/bg-byoc.jpg');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}

@mixin bg-visitor {
    background-image: url('../images/bg-visitor.jpg');
    background-repeat: no-repeat;
    background-position-y: 33%;
    background-size: cover;
}
