footer {
    color: $dove-gray;

    .container {
      padding-top: 20px;

      div {
        padding: 20px 0px;
      }
    }

    hr {
        border-color: #d0d0d0;
    }

    ul {
      padding: 0px;

      li {
        display: inline;
        list-style-type: none;
        margin: 0px 10px;
      }
    }

    .icon {
      text-align: center;

      a {
        display: block;

        @include filter(grayscale(100%));
        @include transition(-webkit-filter 0.2s ease-in-out);
        @include icon-lanets;

        &:hover {
          @include filter(grayscale(0%));
        }
      }
    }

    .links {
      text-align: right;
    }
}
