<div class="container">
    <hr>
    <div class="col-xs-4">
        <ul>
          <li>&copy; 2014 Lan ETS</li>
          <li><a href="http://lanets.ca/terms">Terms and conditions</a></li>
        </ul>
    </div>
    <div class="col-xs-4 icon">
        <a class="center-block" href="http://tickets.lanets.ca/">Lan ETS Tickets</a>
    </div>
    <div class="col-xs-4 links">
        <ul>
          <li><a href="http://lanets.ca/">Home</a></li>
          <li><a href="http://blog.lanets.ca/">Blog</a></li>
          <li><a href="http://lanets.ca/forums">Forums</a></li>
        </ul>
    </div>
</div>
